@charset "UTF-8";

body {
  font-family: arial;
  margin: 0px;
  background-color: #ccc;
  display: grid; 
  grid-template-areas: "header header"
                       "nav nav"
                       "main main"
                       "aside1 aside2"
                       "footer footer";
}

h1 {

  font-size: 4rem;
}

header {

  grid-area: header;
}
 
header div {

  background-color: navy;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid lime;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: lime;
}

p {

  line-height: 2rem;
}

nav {
  grid-area: nav;
  background-color: #ccc;
  padding: 2rem;
}

nav ul {

  font-size: 2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {

  padding: 2rem;
}

nav ul li a {

  color: black;
  cursor: pointer;
}

main {
  grid-area: main;
  background-image: url("./bkimage.jpg");
  background-position: fixed;
  background-size: cover;
  background-color: #000;
  color: white;
  margin: auto;
  padding: 2rem;
  border: 2px solid lime;
  border-radius: 1rem;
}

body aside:nth-of-type(1) {
  width: 50vw;
  grid-area: aside1;
  background-color: #ccc;
  color: black;
  margin: auto;
}

body aside:nth-of-type(2) {
  width: 50vw;
  grid-area: aside2;
  background-color: #A9A9A9;
  color: white;
}

body > footer {
  grid-area: footer;
  background-color: navy;
  color: white;
}

body > footer div {

  display: flex;
  flex-direction: column;
  border: 2px solid lime;
  border-radius: 1rem;
  font-size: 0.8rem;
}

aside div ul {

  list-style: none;;
}

svg {

  height: 10vh;
}

@media only screen and (max-width: 468px) {

  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  nav ul {

    display: flex;
    flex-direction: column;
  }

  nav ul li {

    font-size: 1.5rem;
    padding: 0.5rem;
  }

  svg {

    height: 5vh;
  }

  body aside:nth-of-type(1) {
    width: 100vw;
  }

  body aside:nth-of-type(2) {
    width: 100vw;
  }

  p {

    line-height: 1.5rem;
  }
}